$def with (torrents_json, settings_json)

<html>
	<head>
		<link rel="icon" type="image/png" href="/static/imgs/favicon.png" />
		<link type="text/css" href="/static/css/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	
		<link type="text/css" href="/static/css/dartui.css" rel="Stylesheet" />	
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ba-dotimeout.min.js"></script>
		<script type="text/javascript" src="/static/js/dartui.js"></script>
		<script type="text/javascript" src="/static/js/dartui.builders.js"></script>
		<script src="/static/js/jquery.fileupload.js"></script>
		<title></title>
	</head>
	<body>
		<div class="dropdown"></div>
		<div class="shadow"></div>
		<div class="wrapper">
			<div class="header"></div>
			<div class="batch_actions"></div>
			<div class="filter_menu"></div>
			<div class="sort_header"></div>
			<form>
				<div class="rows_wrapper"></div>
			</form>
			<div class="footer"></div>
			<script>
				torrentData = $:torrents_json;
				gSettingsArray = $:settings_json;
				gClientInfo = torrentData["client_info"];
				$$("title").text(document.location.host + " | DarTui");
				addSortHeader();
				buildBatchActionsMenu();
				processTorrentData(torrentData);
				addTriggers();
				buildHeader();
				buildFooter();
				var refreshID = setInterval(refreshRows, gSettingsArray["refresh_rate"]*1000);
			</script>
		</div>
	</body>
</html>