<html>
	<head>
		<link rel="icon" type="image/png" href="/static/imgs/favicon.png" />
		<link type="text/css" href="/static/css/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	
		<link type="text/css" href="/static/css/dartui.css" rel="Stylesheet" />	
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ba-dotimeout.min.js"></script>
		<script type="text/javascript" src="/static/js/dartui.js"></script>
		<title>Welcome | DarTui</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="header"></div>
			<div class="welcome"></div>
		</div>
	</body>
	<script>
	buildHeader(true)
	$$(".welcome").html(buildSettings(simpleAjaxCall("GET", "/get_settings"), false))
	addSettingsTriggers();
	</script>
	
</html>
